In [15]:
import numpy as np
import pandas as pd

In [ ]:
help(pd.Series) # help permet d'afficher la documentation d'une fonction

In [17]:
my_index = ['USA', 'Canada', 'Mexico']

In [18]:
my_data = [1776, 1867, 1821]

In [19]:
my_ser = pd.Series(my_data, my_index) # on aurait pu mettre my_ser = pd.Series(data=my_data, index=my_index)
my_ser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [20]:
my_ser[0]

1776

In [21]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [22]:
pd.Series(ages) # on peut créer une série à partir d'un dictionnaire

Sam       5
Frank    10
Spike     7
dtype: int64

In [23]:
q1 = {'Japan':80, 'China':450, 'India':200, 'USA':250}
q2 = {'Brazil':100, 'China':500, 'India':210, 'USA':260}

In [24]:
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [25]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [26]:
sales_Q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [27]:
sales_Q1['Japan'] # ou sales_Q1[0]

80

In [28]:
sales_Q1.keys() # renvoie les index ici les pays

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [31]:
sales_Q1 / 100 # on peut faire des opérations sur les séries car elles sont basées sur des tableaux numpy

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [32]:
sales_Q1 + sales_Q2 # les opérations se font sur les index communs

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [35]:
sales_Q1.mul(sales_Q2, fill_value=0) # mul, add, sub, div, mod, pow, etc. permettent de faire des opérations sur les séries 
sales_Q1.add(sales_Q2, fill_value=0) # on peut ajouter des valeurs par défaut pour les index qui ne sont pas communs

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [36]:
sales_Q1.dtype # renvoie le type des données

dtype('int64')

In [42]:
pd.Series(dtype=float) # on peut spécifier le type des données

Series([], dtype: float64)