In [29]:
import numpy as np

In [30]:
arr = np.arange(0,11) # on crée un tableau de 0 à 10 
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [31]:
arr[:5] # on commence à 0 et on s'arrête à 5

array([0, 1, 2, 3, 4])

In [32]:
arr[5:] # on commence à 5 et on va jusqu'à la fin

array([ 5,  6,  7,  8,  9, 10])

In [33]:
arr[0:5] = 100 # on remplace les valeurs de 0 à 5 par 100
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [34]:
arr = np.arange(0,11) # on reinitialise le tableau

In [35]:
slice_of_arr = arr[0:5] # on crée une tranche de 0 à 5 dans la variable slice_of_arr
slice_of_arr

array([0, 1, 2, 3, 4])

In [36]:
arr # on a toujours le tableau de départ

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [37]:
slice_of_arr[:] = 99 # on remplace toutes les valeurs de la tranche par 99.
#Les " : " signifient "toutes les valeurs"
slice_of_arr

array([99, 99, 99, 99, 99])

In [38]:
arr # on a aussi remplacé les valeurs dans le tableau de départ

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [39]:
arr_copy = arr.copy() # on crée une copie du tableau de départ
arr_copy[:] = 100 # on remplace toutes les valeurs de la copie par 100

In [40]:
arr_copy # on a bien remplacé toutes les valeurs de la copie

array([100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100])

In [41]:
arr # mais le tableau de départ n'a pas été modifié

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [42]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45])) # on crée un tableau 2D de 3x3
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [46]:
arr_2d.shape # on vérifie la taille du tableau 3 lignes et 3 colonnes

(3, 3)

In [48]:
arr_2d[0] # on affiche la première ligne

array([ 5, 10, 15])

In [49]:
arr_2d[1][1] # on affiche la valeur de la deuxième ligne et deuxième colonne

25

In [50]:
arr_2d[1,1] # meilleure façon d'afficher la valeur de la deuxième ligne et deuxième colonne

25

In [53]:
arr_2d[:2, 1:] # on affiche les deux premières lignes et les deux dernières colonnes

array([[10, 15],
       [25, 30]])