In [1]:
import numpy as np

In [2]:
arr = np.arange(0,11) # on crée un tableau de 0 à 10 
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [3]:
arr[:5] # on commence à 0 et on s'arrête à 5

array([0, 1, 2, 3, 4])

In [4]:
arr[5:] # on commence à 5 et on va jusqu'à la fin

array([ 5,  6,  7,  8,  9, 10])

In [5]:
arr[0:5] = 100 # on remplace les valeurs de 0 à 5 par 100
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [6]:
arr = np.arange(0,11) # on reinitialise le tableau

In [7]:
slice_of_arr = arr[0:5] # on crée une tranche de 0 à 5 dans la variable slice_of_arr
slice_of_arr

array([0, 1, 2, 3, 4])

In [8]:
arr # on a toujours le tableau de départ

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
slice_of_arr[:] = 99 # on remplace toutes les valeurs de la tranche par 99.
#Les " : " signifient "toutes les valeurs"
slice_of_arr

array([99, 99, 99, 99, 99])

In [10]:
arr # on a aussi remplacé les valeurs dans le tableau de départ

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [11]:
arr_copy = arr.copy() # on crée une copie du tableau de départ
arr_copy[:] = 100 # on remplace toutes les valeurs de la copie par 100

In [12]:
arr_copy # on a bien remplacé toutes les valeurs de la copie

array([100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100])

In [13]:
arr # mais le tableau de départ n'a pas été modifié

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [14]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45])) # on crée un tableau 2D de 3x3
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [15]:
arr_2d.shape # on vérifie la taille du tableau 3 lignes et 3 colonnes

(3, 3)

In [16]:
arr_2d[0] # on affiche la première ligne

array([ 5, 10, 15])

In [17]:
arr_2d[1][1] # on affiche la valeur de la deuxième ligne et deuxième colonne

25

In [18]:
arr_2d[1,1] # meilleure façon d'afficher la valeur de la deuxième ligne et deuxième colonne

25

In [19]:
arr_2d[:2, 1:] # on affiche les deux premières lignes et les deux dernières colonnes

array([[10, 15],
       [25, 30]])

In [20]:
arr = np.arange(1,11) # on crée un newtableau de 1 à 10

In [21]:
arr > 4 # on affiche les valeurs supérieures à 4 (True) et les autres (False) booléen

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [22]:
bool_arr = arr > 4 # on crée un tableau booléen
bool_arr

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [23]:
arr[bool_arr] # on affiche les valeurs supérieures à 4 grâce au tableau booléen créé

array([ 5,  6,  7,  8,  9, 10])

In [24]:
arr[arr>4] #  Meilleure façon de faire. On affiche les valeurs supérieures à 2 grâce au tableau booléen créé sans passer par une variable intermédiaire

array([ 5,  6,  7,  8,  9, 10])